h1{
      color: white;
      text-shadow: 2px 2px 4px #000000;
      padding:50px;
      text-align:center;
      font-style:italic;
      color:grey;
    }
     h2{
      text-align:center; 
    }
    .content1{
      max-width:800px;
      width:75%;
      background-color:pink;
      padding:5px;
      border:5px solid purple;
    }
    .content2{
  
    }
    .p1{
  
    }
    table {
    width:100%;
    }
    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    }
    th, td {
    padding: 5px;
    text-align: left;
    }
    .Flower1{
      width:100px;
      height:100px;
    }
    .Flower2{
      width:100px;
      height:100px;
    }
    .Flower3{
    width:100px;
    height:100px;
    }
    .p2{
        
    }
    h3{
   
    }
    .pendant{
    width:100px;
    height:100px;
    }
    .card{
    width:100px;
    height:100px;
    }
.toolbar{
  
}
.toolbar1{
  
}
table{
  
}
table, th, td{
  border-collapse:collapse;
  border: 1px solid black
  
}
th, td#t01{
    padding:20px 50px 20px 50px;
}
/* unvisited link */
a:link {
    color: purple;
}

/* visited link */
a:visited {
    color: blue;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: yellow;
}
